.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.para1{
    color: peachpuff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.tabs{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    list-style: none;
    border-bottom: 2px solid wheat;
    padding: 5;
    margin: 6px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: black;
    justify-content: center;
    
}

li{
    padding: 10px 50px;
    margin: 0 2px;
    cursor: pointer;
}

.tab:hover{
    color: black;
    background-color: antiquewhite;
    transition: ease-in-out 300ms;
    border-radius: 20px;
}
.active_tab{
    color: black;
    border-radius: 20px;
    background-color: antiquewhite;
}

.box1{
    border: 1px solid white;
    border-radius: 20px;
    margin: 5%;
    color: black;
    background-color: darkgrey;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}